/Simulador/listas/nbproject/private/
/Simulador/listas/build/
/Simulador/Defecto/nbproject/private/
/Vehiculos/nbproject/private/
/RutasTransmilenio/nbproject/private/
/Vehiculos/Pixeles/nbproject/private/
/Vehiculos/animales/nbproject/private/
/animales/nbproject/private/
/animales/build/
/Bicicleta/nbproject/private/
/Bicicleta/build/
/Colecciones/nbproject/private/
/Colecciones/build/
/Medicinal/nbproject/private/
/Medicinal/build/
/Medicinal/dist/
/Poligonos/nbproject/private/
/Poligonos/build/
/Poligonos/dist/
/PruebaHilos/nbproject/private/
/PruebaHilos/build/
/Orejones/nbproject/private/
/Orejones/build/
/Orejones/dist/
/Genericos/nbproject/private/
/Genericos/build/
/Genericos/dist/