/Simulador/listas/nbproject/private/
/Simulador/listas/build/
/Simulador/Defecto/nbproject/private/
/Vehiculos/nbproject/private/
/RutasTransmilenio/nbproject/private/
/Vehiculos/Pixeles/nbproject/private/
/Vehiculos/animales/nbproject/private/
/animales/nbproject/private/
/animales/build/
/Bicicleta/nbproject/private/
/Bicicleta/build/